	
#apLobby{
    -fx-background-image: url("Maze.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}



#lbLobbyGames {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #32cd32;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#lbLobbyChat {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #32cd32;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

#lbLobbyPlayers {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #32cd32;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}
 

#btLobbySend {
	-fx-color: limegreen;
	-fx-background-color: limegreen;
}

#BtLobbyRefresh{
	-fx-color: limegreen;
	-fx-background-color: limegreen;
}

#btLobbyJoinGame{
	-fx-color: limegreen;
	-fx-background-color: limegreen;
}

#btLobbyCreateGame{
	-fx-color: limegreen;
	-fx-background-color: limegreen;
}


#lvLobbyUsers.list-cell:filled:selected {
    -fx-text-fill: red;
}